@use "../styles/variables" as *;

#root {
  min-width: 1024px;
  margin: 0 auto;
  font-family: Roboto;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: white
}

body {
  margin: 0;
}


h1 {
  margin: 0
}

button {
  border-radius: 8px;

}