@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$main-color: #FF0101;
$black: #020203;
$dark-grey: #282D30;
$red: #FF0000;

$main-font: Roboto;