@use '../../styles/variables.scss' as*;

.banner {
  &__title {
    font-size: 3rem;
    font-weight: 500;

    &__userName {
      color: $main-color ;
    }
  }

  &__message {
    font-size: 1.125rem;
  }
}